VITE_APP_URL=https://vincula.prymeiradigital.com.br

VITE_CLERK_PUBLISHABLE_KEY=pk_live_xxx
VITE_CRM_API_URL=/api

VITE_PRYMEIRA_ACCOUNT_API_URL=https://account-api.prymeira.com
VITE_PRYMEIRA_HUB_URL=https://account.prymeira.com
VITE_PRYMEIRA_PRODUCT_KEY=crm
PRYMEIRA_ACCOUNT_API_URL=https://account-api.prymeira.com
PRYMEIRA_PRODUCT_KEY=crm

VITE_ATTACHMENTS_BUCKET=attachments
VITE_DISABLE_EMAIL_PASSWORD_AUTHENTICATION=false
VITE_GOOGLE_WORKPLACE_DOMAIN=
VITE_INBOUND_EMAIL=
VITE_IS_DEMO=false

CORS_ORIGINS=https://vincula.prymeiradigital.com.br
CRM_POSTGRES_PASSWORD=change-me
