VITE_APP_URL=https://vincula.prymeiradigital.com.br

VITE_CLERK_PUBLISHABLE_KEY=pk_live_xxx
VITE_SUPABASE_URL=https://xxx.supabase.co
VITE_SB_PUBLISHABLE_KEY=sb_publishable_xxx

VITE_PRYMEIRA_ACCOUNT_API_URL=https://account-api.prymeira.com
VITE_PRYMEIRA_HUB_URL=https://account.prymeira.com
VITE_PRYMEIRA_PRODUCT_KEY=crm

VITE_ATTACHMENTS_BUCKET=attachments
VITE_DISABLE_EMAIL_PASSWORD_AUTHENTICATION=false
VITE_GOOGLE_WORKPLACE_DOMAIN=
VITE_INBOUND_EMAIL=
VITE_IS_DEMO=false
